.App {
  text-align: center;
}

.App-logo {
  height: 9vmin;
  pointer-events: none;
  margin-top: calc(10px + 1.3vmin);
  margin-left: calc(10px + 2vmin);
}

.App-header {
  background-color: #e3e3dc;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.App-body {
  background-color: #e3e3dc;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  width: 100%;
}

.Body-header {
  font-size: 60px;
  font-weight: 700;
  @media (max-width: 400px) {
    font-size: calc(30px + 8vmin);
  }
}

.App-footer {
  background-color: #e3e3dc;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: black;
  width: 100%;
}

b {
  margin-top: 5px;
  margin-left: 5px;
}
